* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #000635;
  --text-color: white;
  --main-color: #ea580c;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}
.header{
  position: fixed; /* the header will remain during scrolling */
  width: 100%;
  top: 0; /* it should be in the top*/ 
  left: 0;
  padding: 4rem 15%; /* ?????? */
  background: rgba(0, 0, 0, 0.246); /*transperant */
  backdrop-filter: blur(10px); /* ?????? */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
} 
#menu-icon{
  font-size: 3.5rem;
  color:  var(--main-color);
  display: none;
}
.logo{
  font-size: 3rem;
  color: white;
  font-weight: 800;
  cursor: pointer; /*To show it's clickable*/
  transition: 0.3s ease-in-out; /*for smooth transition*/
}
.logo:hover{ /* hover for action after coursor is here */
  transform: scale(1.1);
}
span{
  background: linear-gradient(
    270deg, /* 270 degrees ???*/
    #DF8908 10%, /*first color*/
    #ff1d15 100%
  );
  background-clip: text; /* I will see it only in a form of... text */
  color: transparent; /* Text is transperent so I can see the background*/
}
.navbar a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover{
  color: var(--text-color);
  border-bottom: 3px solid var(--main-color);
}
.gradient-btn{
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(
    270deg, /* 270 degrees ???*/
    #DF8908 10%, /*first color*/
    #ff1d15 100%
  );
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;
}
.gradient-btn:hover{
  transform: scale(1.05);
}


section{
  min-height: 100vh; /*The section should cover entire page*/
  padding: 10rem 15%; /*space between the content and the border of an element*/ 
}
.home{
  display: flex;
  align-items: center; /* Center between up and down*/
  justify-content: center;
  gap: 15rem;
}

/* Home Page ____________________________*/ 

.home-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* flex-end - right part*/ 
  text-align: left;

  /* Animation */
  opacity: 0;
  transform: translateX(-40px);
  animation: slideInRight 2s ease forwards;
}
.home-content h1{
  font-size: 6rem;
  font-weight: 900;
  margin-top: 6rem;
  line-height: 1;
}
.home-content h3{
  margin: 1rem 0;
  font-size: 4rem;
}
.home-content p{
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  text-align: justify;
}


.home-img img{
  width: 25vw; /* 32% */ 
  border-radius: 40%;
  box-shadow: 0 0 25px rgb(156, 155, 155); /* var(--main-color) */
  transition:  0.4s ease-in-out;
  margin-top: 6rem;

  /* Animation */
  opacity: 0;
  transform: translateX(40px);
  animation: slideInRight 2s ease forwards;

}
.home-img img:hover{
  box-shadow: 0 0 25px rgb(156, 155, 155),
              0 0 35px rgb(156, 155, 155);
}


/* Keyframes for slide-in animation */
@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover{
  color: white;
  background-color: var(--main-color);
  transform: scale(1.2)translateY(-5px); /* Move to the top */
  box-shadow: 0 0 25px var(--main-color);
}


.btn-group{
  display: flex;
  gap: 1.5rem;
}
.btn{
  display: inline-block;
  padding: 1rem 2.7rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  margin: 0rem 0.5rem;
}
.btn:hover{
  color: white;
  background-color: var(--main-color);
  transform: scale(1.05); 
  box-shadow: 0 0 25px var(--main-color);
}


/* Experience Page ____________________________*/ 
.experience{
  background-color: var(--bg-color);
}
.experience h2{
  margin: 1.5rem 0;
  font-size: 4rem;
  text-shadow: 0 0 25px rgb(124, 124, 124);
  text-align: center;
}

.experience-box{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr) ); /* Insread of writing 
  the exact amount of colomns we can do it automatically */ 
  place-items: center;  
  gap: 3rem; /* horisontal gap */ 
  row-gap: 5rem;
}
.experience-card{
  display: flex;
  flex-direction:column; /* or row */ 
  align-items: center;
  justify-content: center;
  text-align: left; /* justify / center */ 
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  height: 350px;
  width: 510px;
  gap: 1rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
}
.experience-card:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
              transform: scale(1.02);
}
.experience-card img{
  max-width: 350px;
  max-height: 150px;
  border-radius: 0em; /* Обрізка овальчиком */ 
  object-fit: cover;
}
.experience-card h3{
  font-size: 1.7rem;
}
.experience-card p{
  font-size: 1.7rem;
}






/* Skills Page ____________________________*/ 
.heading{
  text-align: center;
  font-size: 4rem;
  margin: 1.5rem;
}
.skills{
  background-color: var(--bg-color);
  color: black;
}
.skills h2{
  color: var(--text-color);
  text-shadow: 0 0 25px rgb(124, 124, 124);
}
.skills-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr) ); /* Insread of writing 
  the exact amount of colomns we can do it automatically */ 
  align-items: center;
  justify-content: center;
  gap: 2.5rem; /* Divide the blocks */ 
}
.skills-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}
.skills-box:hover{
  background: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}
.skills-box:hover .skills-info h4 {
  color: rgb(212, 193, 137); /* Change h4 color on hover */
}
.skills-box:hover .skills-info i {
  color:  rgb(120, 91, 6); /* Change i color on hover */
}
.skills-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 5rem;
}
.skills-info h4{
  font-size: 3rem;
  margin: 2rem;
  font-weight: 800;
  color: #450101;
  flex-grow: 1; /* Pushes h4 into the center */
  display: flex;
  align-items: center; /* Ensures perfect vertical centering */
  justify-content: center; 
}
.skills-info p{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7; /* Distants between the lines*/ 
  text-align: justify; /* All line long */ 
}
.skills-info i{
  font-size: 4rem;
  font-weight: 600;
  color: #450101;
  align-items: center; 
  margin: 1rem;
}

/* Some magic */ 
@media(max-width:1285px){
.home{
  flex-direction: column-reverse;
  margin: 2rem 0;
  gap: 5rem;
}
.home-img img{
  width: 50vw;
}
}
